<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
	<head>
		<title>HelpSind</title>
		
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css" rel="stylesheet" type="text/css"/>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/regular.min.css" rel="stylesheet" type="text/css"/>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
	</head>
	
	<body>
		<th:block th:fragment="content">
		<main role="main" class="container-fluid">
			<div class="jumbotron mb-0 m-auto">
				<h1 class="display-4">Bem vindo(a), <span sec:authentication="name"></span>!</h1>
				<p id="day"></p>
				<hr class="my-4">
				
				<div class="row">
					<div class="col-xs-12 col-sm-4 mt-1">
						<div class="card bg-warning-subtle">
							<div class="card-body">
								<p class="card-title" th:text="${totalizer.toPay}"></p>
								<h5 class="card-text">Contas a receber</h5>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 mt-1">
						<div class="card bg-success-subtle">
							<div class="card-body">
								<p class="card-title" th:text="${totalizer.paid}"></p>
								<h5 class="card-text">Contas pagas</h5>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 mt-1">
						<div class="card bg-danger-subtle">
							<div class="card-body">
								<p class="card-title" th:text="${totalizer.overdue}"></p>
								<h5 class="card-text">Contas Vencidas</h5>
							</div>
						</div>
					</div>
				</div>
	
			</div>
			
		</main>
		</th:block>
		<th:block th:fragment="jsAdicional"></th:block>
	</body>
	
</html>