
<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Entrar</title>

</head>
<body>
	<th:block th:fragment="content">
		<main role="main" class="container">
		<div class="m-auto" style="max-width: 350px;">
			<div th:if="${param.novo}">
				<div class="alert alert-success">Sua conta foi criada, obrigado!</div>
			</div>
			<div th:if="${param.erro}">
				<div class="alert alert-danger">Usuário ou senha inválidos!</div>
			</div>
			<form th:action="@{/auth}" th:method="post" class="needs-validation" autocomplete="off" novalidate>
				<h2>HelpSind</h2>
				<div class="card">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<div class="form-group">
								<label>Usuário</label>
								<div class="input-group">
									<input class="form-control last" type="text" name="username" placeholder="Usuário" autofocus="autofocus" required />
									<div class="invalid-feedback">Campo obrigatório</div>
								</div>
							</div>
							<div class="form-group">
								<label>Senha</label>
								<div class="input-group">
									<input class="form-control last" type="password" name="password" placeholder="Sua senha" required />
									<div class="invalid-feedback">Campo obrigatório</div>
								</div>
							</div>
							<div class="custom-control custom-checkbox mb-3">
								<input class="custom-control-input" type="checkbox" id="remember-me" name="remember-me" /> <label class="custom-control-label" for="remember-me">Mantenha-me conectado</label>
							</div>
							<button type="submit" class="btn btn-primary btn-block">
								Entrar
							</button>
						</li>
					</ul>
				</div>
			</form>
			<p class="text-center mt-3">
				Seu condomínio não está aqui? <a th:href="@{/account/cadastrar}">Seja cliente!</a>
			</p>
		</div>
		</main>
	</th:block>
<th:block th:fragment="jsAdicional"></th:block>
</body>
</html>