<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<!-- Meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Web App -->
<meta name="application-name" content="HelpSind" />
<meta name="theme-color" content="#007bff">

<!-- CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}" />
<link rel="stylesheet" th:href="@{/css/scroll.min.css}" />

<title th:replace="~{'site/' + ${content} :: title}"></title>
</head>
<body id="site">
	<div style="display:flex; justify-content: center; align-items: center; height: 90vh;">
		<th:block th:replace="~{'site/' + ${content} :: content}" />
	</div>
	<div style=" position: absolute; bottom: 0; width: 100%">
		<th:block th:replace="~{layouts/footer :: footer}" />
	</div>

	<!-- JavaScript -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/scroll.min.js}"></script>
	<th:block th:replace="~{'site/' + ${content} :: jsAdicional}" />
</body>
</html>