
<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<!-- Meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

<!-- Web App -->
	<meta name="application-name" content="HelpSind"/>
	<meta name="theme-color" content="#007bff">
	
	<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/scroll.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
	
	<title th:replace="'content/' + ${content} :: title"></title>
</head>
<body id="sindico">
	<th:block th:replace="layouts/header :: header"/>
	
	<div class="content">
		<div class="container-fluid child">
<!--			<th:block th:replace="layouts/sideBar :: sideBar"/>-->
			<th:block th:replace="'content/' + ${content} :: content"/>
		</div>
	</div>
	<div class="footer">
		<th:block th:replace="~{layouts/footer :: footer}"/>
	</div>
	
	<!-- JavaScript -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/scroll.min.js}"></script>
	<script th:src="@{/js/extraFunctions.js}"></script>
	<th:block th:replace="'content/' + ${content} :: jsAdicional"/>
</body>
</html>