<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Lista de Tipo de Despesa</title>
</head>
<body>
<th:block th:fragment="content">
	<main role="main">
		<h3 class="font-weight-light">Lista de Tipo de Despesa</h3>
		<div class="btn-group mb-3 float-right">
			<a class="btn btn-light" th:href="@{/trustee/expenseType/cadastro}"><i class="fas fa-plus"></i> Nova</a>
		</div>
		<div class="table-responsive">
			<table class="table table-hover table-sm crud-list mb-0">
				<caption class="pb-0">
					<span th:text="${expenseType.totalElements == 0} ? 'Nenhum' : 'Há '+${expenseType.totalElements}"></span> <span
						th:text="${expenseType.totalElements>1} ? 'registros encontrado' : 'registro encontrado'"></span>.
				</caption>
				<thead class="thead-light">
				<tr>
					<th scope="col"> Descrição</th>
					<th scope="col"> Valor</th>
					<th scope="col"> Status</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="expenseType : ${expenseType.content}">
					<th scope="row" th:text="${expenseType.name}"></th>
					<th scope="row" th:text="${expenseType.value}"></th>
					<th scope="row" th:text="${expenseType.status}"></th>
					<td>
						<a class="btn btn-outline-secondary btn-sm"
						   th:href="@{/trustee/expenseType/{idExpenseType}/cadastro(idExpenseType=${expenseType.idExpenseType})}"><i
								class="fas fa-eye"></i><span> Ver</span></a>
						<a class="btn btn-outline-primary btn-sm"
						   th:href="@{/trustee/expenseType/{idExpenseType}/cadastro(idExpenseType=${expenseType.idExpenseType})}"><i
								class="fas fa-edit"></i><span> Editar</span></a> <a class="btn btn-outline-danger btn-sm"
						                                                            data-toggle="modal" href="#modalExcluir"
						                                                            th:data-idobj="${expenseType.idExpenseType}"
						                                                            th:data-obs="${expenseType}"><i
							class="fas fa-trash-alt"></i><span> Excluir</span></a></td>
				</tr>
				</tbody>
			</table>
		</div>
	</main>
	
	<div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog">
		<div class="modal-dialog  modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalExcluirLabel">Confirmar Exclusão</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<form th:action="@{/trustee/expenseType/excluir}" th:method="delete" novalidate>
					<input type="hidden" id="idObj" name="idObj"/>
					<div class="modal-body">
						Confirma a exclusão do tipo de despesa '<span></span>'?
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-danger">Excluir</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<th:block th:fragment="jsAdicional"></th:block>
</th:block>
</body>
</html>