<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Cadastro de despesas</title>
	</head>
	<body>
		<th:block th:fragment="content">
			<main role="main">
				<h3 class="font-weight-light">Cadastro de despesa</h3>
				<form th:action="@{/trustee/expense/cadastro}" th:object="${expense}" th:method="${expense.idExpense == null} ? post : put" novalidate>
					<fieldset th:disabled="${param.somenteLeitura}" class="mb-3">
						<input type="hidden" th:field="*{idExpense}" />
						<div class="card">
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<p class="text-primary">
										<i class="fas fa-building"></i> Informações principais
									</p>
									<div class="form-row row">
										<div class="form-group col-xs-12 col-md-5">
											<label>Descrição</label> <input class="form-control" type="text" th:errorclass="is-invalid"
											                                th:field="*{name}"
											                                th:required="true"
											                                placeholder="Uma breve descrição" autofocus/>
											<div class="invalid-feedback" th:errors="*{name}"></div>
										</div>
										
										<div class="form-group col-xs-12 col-md-2">
											<label>Valor</label> <input class="form-control" type="number" pattern="^\d*(\.\d{0,2})?$"
											                            th:errorclass="is-invalid"
											                            th:field="*{total}"
											                            th:required="true"
											                            placeholder="Valor da despesa." autofocus/>
											<div class="invalid-feedback" th:errors="*{total}"></div>
										</div>
										<div class="form-group col-xs-12 col-md-5">
											<label for="situation">Status do pagamento</label>
											<select class="form-control" id="situation" name="situation" th:errorclass="is-invalid"
											        th:field="*{situation}">
												<option th:unless="${param.somenteLeitura}" value="" hidden="true">Selecione</option>
												<option th:each="situation : ${situations}" th:value="${situation.sigla}"
												        th:selected="${situation.sigla == 'N'} ? true: false"
												        th:text="${situation.name}"></option>
											</select>
											<div class="invalid-feedback" th:errors="*{situation}"></div>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<p class="text-primary">
										<i class="far fa-calendar"></i> Informações da despesa
									</p>
									<div class="row">
										
										
										<div class="form-group col-xs-12 col-md-3">
											
											<label>Data de recebimento</label> <input class="form-control" type="date"
											                                          th:errorclass="is-invalid"
											                                          th:field="*{receivingDate}"
											                                          th:required="true"
											                                          placeholder="Informe o dia dque ela foi paga."
											                                          autofocus/>
											<div class="invalid-feedback" th:errors="*{receivingDate}"></div>
										</div>
										<div class="form-group col-xs-12 col-md-3">
											<label>Data de vencimento</label> <input class="form-control" type="date"
											                                         th:errorclass="is-invalid"
											                                         th:field="*{expirationDate}"
											                                         th:required="true"
											                                         placeholder="Informe o dia de vencimento." autofocus/>
											<div class="invalid-feedback" th:errors="*{expirationDate}"></div>
										</div>
										
										<div class="col-md-3">
											<label>Última medição</label> <input class="form-control" type="number"
											                                     th:required="true"
											                                     name="expenseLastMeasurement" id="expenseLastMeasurement"
											                                     th:field="*{lastMeasurement}">
										</div>
										<div class="col-md-3">
											<label>Medição atual</label> <input class="form-control" type="number"
											                                    name="expenseCurrentMeasurement"
											                                    id="expenseCurrentMeasurement"
											                                    th:required="true"
											                                    th:field="*{currentMeasurement}">
										</div>
									
									</div>
								
								</li>
								<li class="list-group-item">
									<p class="text-primary">
										<i class="bi bi-calendar-date"></i> Origem da despesa
									</p>
									<div class="row">
										<div th:if="${param.somenteLeitura}">
											<div class="form-group col-xs-12 col-md-3">
												<label for="situation">Apartamento </label>
												<select class="form-control" id="apartment" name="situation" th:errorclass="is-invalid"
												        th:field="*{apartment}">
													<option th:unless="${param.somenteLeitura}" value="" hidden="true">Selecione</option>
													<option th:each="ap : ${apartment}" th:value="${ap.idApartment}"
													        th:text="${ap.number} + ' - ' + ${ap.person.name}"></option>
												</select>
												<div class="invalid-feedback" th:errors="*{apartment}"></div>
											</div>
										</div>
										
										<div class="col-xs-12 col-md-4">
											<label for="situation">Tipo de Rateio</label>
											<select class="form-control" id="situation" name="situation" th:required="true" th:errorclass="is-invalid"
											        th:field="*{typeEnum}">
												<option th:unless="${param.somenteLeitura}" value="" hidden="true">Selecione</option>
												<option th:each="ty : ${types}" th:value="${ty.sigla}"
												        th:text="${ty.name}"></option>
											</select>
											<div class="invalid-feedback" th:errors="*{typeEnum}"></div>
										</div>
										<div class="col-xs-12 col-md-4">
											<label for="situation">Tipo de Despesa</label>
											<select class="form-control" id="expenseType" name="situation" th:errorclass="is-invalid"
											        th:field="*{expenseType}">
												<option th:unless="${param.somenteLeitura}" value="" hidden="true">Selecione</option>
												<option th:each="et : ${expensesType}" th:value="${et.idExpenseType}"
												        th:text="${et.name}"></option>
											</select>
											<div class="invalid-feedback" th:errors="*{expenseType}"></div>
										</div>
									</div>
									<div>
										<div>
											<p class="text-primary">
												<i class="bi bi-calendar-date"></i> Apartamentos
											</p>
											<div class="row">
												<ul class="list-group list-group-flush">
													<li class="list-group-item" th:each="ap, iStat: ${expense.apartmentReadingList}">
														<div class="row">
															<div class="col-md-2">
																<label>Nº do apartamento </label>
																<input type="text" style="display: none"
																       name="arApartment" th:id="'arApartement' +__${iStat.index}__"
																
																       th:value="${ap.apartment.idApartment}"
																       th:field="*{apartmentReadingList[__${iStat.index}__].apartment}"/>
																<p th:text="${ap.apartment.number}">
																</p>
															</div>
															<div class="col-md-3">
																<label>Última medição</label><input class="form-control" type="number"
																                                    name="lastMeasurement"
																                                    th:id="'lastMeasurement'+__${iStat.index}__"
																                                    th:required="true"
																                                    th:field="*{apartmentReadingList[__${iStat.index}__].lastMeasurement}"/>
															
															</div>
															<div class="col-md-3">
																<label>Medição atual</label>
																<input class="form-control" type="number" name="currentMeasurement"
																       th:id="'currentMeasurement' +__${iStat.index}__"
																       th:required="true"
																       th:field="*{apartmentReadingList[__${iStat.index}__].currentMeasurement}"/>
															</div>
														</div>
													</li>
												</ul>
											</div>
										
										</div>
									</div>
								</li>
							</ul>
						</div>
					</fieldset>
					<button th:unless="${param.somenteLeitura}" type="submit" class="btn btn-primary">Salvar</button>
					<a class="btn btn-secondary" th:href="@{/trustee/expense/}" role="button" th:text="${param.somenteLeitura}?'Voltar':_">Cancelar</a>
				</form>
			</main>
		</th:block>
		<th:block th:fragment="jsAdicional"></th:block>
	</body>
</html>