<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Despesas</title>
</head>
<body>
	<th:block th:fragment="content">
		<main role="main">
		<h3 class="font-weight-light">Lista de despesas</h3>
			<div class="btn-group mb-3 float-right">
				<a class="btn btn-light" th:href="@{/trustee/expense/cadastro}"><i class="fas fa-plus"></i> Nova</a>				
			</div>
		<div class="table-responsive">
			<table class="table table-hover table-sm crud-list mb-0">
				<caption class="pb-0">
					<span th:text="${expense.totalElements == 0} ? 'Nenhum' : 'Há '+${expense.totalElements}"></span> <span th:text="${expense.totalElements>1} ? 'despesa cadastradas' : 'despesa cadastrada'"></span>.
				</caption>
	    		<thead class="thead-light">
	        		<tr>
				        <th scope="col" style="text-align: center">  </th>
				        <th scope="col"> Descrição </th>
				        <th scope="col"> Data de lançamento </th>
				        <th scope="col"> Tipo de Rateio </th>
				        <th scope="col"> Valor </th>
	       			</tr>
	    		</thead>
			    <tbody>				
			        <tr th:each="expense : ${expense.content}">
				        <th scope="row" class="center">
					        <span  th:text="${expense.situationComplete}" th:class="${expense.situationComplete} == 'Pago' ? 'th-success' :  'th-warning' " th:classappend=" ${expense.situationComplete} == 'Vencido' ? 'th-danger' : ''"></span>
				        </th>
				        <th scope="row" th:text="${expense.name}" >  </th>
				        <th scope="row" th:text="${expense.issuanceDate}">  </th>
				        <th scope="row" th:text="${expense.typeEnumComplete}">  </th>
				        <th scope="row" th:text="|R$ ${expense.total}|">  </th>
			            <td><a class="btn btn-outline-secondary btn-sm" th:href="@{/trustee/expense/{idExpense}/cadastro(idExpense=${expense.idExpense},somenteLeitura)}"><i class="fas fa-eye"></i><span> Ver</span></a> <a class="btn btn-outline-primary btn-sm" th:href="@{/trustee/expense/{idExpense}/cadastro(idExpense=${expense.idExpense})}"><i class="fas fa-edit"></i><span> Editar</span></a> <a class="btn btn-outline-danger btn-sm" data-toggle="modal" href="#modalExcluir" data-target="#modalExcluir" th:data-idobj="${expense.idExpense}" th:data-obs="${expense.name}"><i class="fas fa-trash-alt"></i><span> Excluir</span></a></td>
			        </tr>
			    </tbody>
			</table>
		</div>
		</main>
		
		<div th:unless="${#lists.isEmpty(expense)}" class="modal fade" id="modalExcluir" tabindex="-1" role="dialog">
			<div class="modal-dialog  modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalExcluirLabel">Confirmar Exclusão</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<form th:action="@{/trustee/expense/excluir}" th:method="delete" novalidate>
						<input type="hidden" id="idObj" name="idObj" />
						<div class="modal-body">
							Confirma a exclusão da despesa '<span></span>'?
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-danger">Excluir</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</th:block>
	<th:block th:fragment="jsAdicional"></th:block>
	
</body>
</html>