<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>Lista de apamentos</title>
</head>
<body>
	<th:block th:fragment="content">
		<main role="main">
		<h3 class="font-weight-light">Lista de Pessoas</h3>
			<div class="btn-group mb-3 float-right">
				<a class="btn btn-light" th:href="@{/trustee/person/cadastro}"><i class="fas fa-plus"></i> Nova</a>				
			</div>
		<div class="table-responsive">
			<table class="table table-hover table-sm crud-list mb-0">
				<caption class="pb-0">
					<span th:text="${person.totalElements == 0} ? 'Nenhum' : 'Há '+${person.totalElements}"></span> <span th:text="${person.totalElements>1} ? 'pessoas cadastradas' : 'pessoa cadastrada'"></span>.
				</caption>
	    		<thead class="thead-light">
	        		<tr>
	            		<th scope="col"> Nome  </th>
	            		<th scope="col"> Email </th>
	            		<th scope="col"> Telefone </th>
	       			</tr>
	    		</thead>
			    <tbody>				
			        <tr th:each="person : ${person.content}">
			            <th scope="row" th:text="${person.name}" >  </th>
			            <th scope="row" th:text="${person.email}">  </th>
			            <th scope="row" th:text="${person.cellphone}">  </th>
			            <td><a class="btn btn-outline-secondary btn-sm" th:href="@{/trustee/person/{idPerson}/cadastro(idPerson=${person.idPerson},somenteLeitura)}"><i class="fas fa-eye"></i><span> Ver</span></a> <a class="btn btn-outline-primary btn-sm" th:href="@{/trustee/person/{idPerson}/cadastro(idPerson=${person.idPerson})}"><i class="fas fa-edit"></i><span> Editar</span></a> <a class="btn btn-outline-danger btn-sm" data-toggle="modal" href="#modalExcluir" th:data-idobj="${person.idPerson}" th:data-obs="${person.name}"><i class="fas fa-trash-alt"></i><span> Excluir</span></a></td>
			        </tr>
			    </tbody>
			</table>
		</div>
		</main>
		
		<div th:unless="${#lists.isEmpty(person)}" class="modal fade" id="modalExcluir" tabindex="-1" role="dialog">
			<div class="modal-dialog  modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Confirmar Exclusão</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<form th:action="@{/trustee/person/excluir}" th:method="delete" novalidate>
						<input type="hidden" id="idObj" name="idObj" />
						<div class="modal-body">
							Confirma a exclusão da pessoa '<span></span>'?
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-danger">Excluir</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	<th:block th:fragment="jsAdicional"></th:block>
	</th:block>
</body>
</html>