<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	
	<title>Pessoa</title>

</head>
<body>
<th:block th:fragment="content">
	<main role="main">
		<h3 class="font-weight-light">Listagem de Pessoas</h3>
		<table class="table table-striped">
			<thead>
			<tr>
				<th th:text="#{msg.name}" />
			</tr>
			</thead>
			<tbody>
			<tr th:each="person, iStat : ${personPage.content}"
			    th:style="${iStat.odd}? 'font-weight: bold;'"
			    th:alt-title="${iStat.even}? 'even' : 'odd'">
				<td th:text="${person.name}" />
			</tr>
			</tbody>
		</table>
		<div th:if="${personPage.totalPages > 0}" class="pagination"
		     th:each="pageNumber : ${pageNumbers}">
			<a th:href="@{/trustee/person/list(size=${personPage.size}, page=${pageNumber})}"
			   th:text=${pageNumber}
			   th:class="${pageNumber==personPage.number + 1} ? active"></a>
		</div>
	</main>
</th:block>
<th:block th:fragment="jsAdicional"></th:block>
</body>
</html>