html, body {
    width: 100vw;
    height: 100vh;
}

p{
    font-size: 17px !important;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    overflow-y: auto !important;
}

.child{
    height: 80%;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%
}


.submit-group{
    display: flex;
    justify-content: flex-end;
}

.ml10{
    margin-left: 10px;
}

.option-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.option{
    width: 200px !important;
}