html, body {
    width: 100vw;
    height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    overflow-y: auto !important;
}

.child{
    width: inherit;
    padding-top: 10%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%
}


.submit-group{
    display: flex;
    justify-content: flex-end;
}

.ml10{
    margin-left: 10px;
}

.option-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.option{
    width: 200px !important;
    padding: 10%;
    line-height: 5vh;
}